<!-- booking/templates/booking/menu.html -->
{% extends 'booking/base.html' %}
{% block content %}
<h2 class="mb-4">Our Menu</h2>
{% for category in categories %}
  <h3 class="my-3">{{ category.name }}</h3>
  <div class="row g-3">
    {% for item in category.items.all %}
      <div class="col-md-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }} - ${{ item.price }}</h5>
            <p class="card-text">{{ item.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endfor %}
{% endblock %}
